{{- if contains "home" .chezmoi.hostname }}
[user]
    name = {{ .name }}
    email = {{ .email }}
{{- else }}
[user]
    name = {{ .work.name }}
    email = {{ .work.email }}
{{- end }}
[core]
    pager = delta
    excludesfile = /home/remi/.gitignore_global
[interactive]
    diffFilter = delta --color-only
[filter "nbstripout"]
    clean = '/usr/bin/python3' -m nbstripout
    smudge = cat
[diff "ipynb"]
    textconv = '/usr/bin/python3' -m nbstripout -t
[fetch]
    prune = true
[pull]
    ff = only
[credential]
    helper = cache --timeout=3600
[alias]
    # Utils
    main-branch = !basename $(git symbolic-ref refs/remotes/origin/HEAD)
    gitignore-list = !curl -L -s "https://www.gitignore.io/api/list" | tr ',' '\n'
    fuzzy-index = !git status --short | fzf -0 -m --preview 'bat --color=always {2}' | cut -d ' ' -f 2-

    # Basics
    s = status
    l = log --all --decorate --oneline --graph
    d = diff
    aa = add .
    b = branch
    c = commit
    cm = commit -m
    ca = commit --amend
    ri = rebase --interactive

    # Fuzzy
    a = ![ "${#}" -gt 0 ] && git add "${@}" || git fuzzy-index | xargs --no-run-if-empty git add
    ap = ![ "${#}" -gt 0 ] && git add --patch "${@}" || git fuzzy-index | xargs --no-run-if-empty --open-tty git add --patch
    bd = !git branch | grep -v '^\\*' | cut -c 3- | grep -v $(git main-branch) | fzf -0 -m --preview='git log --color=always {} --' | xargs --no-run-if-empty git branch -D
    ch = !git branch --all | grep -Ev '(^\\*|HEAD)' | cut -c 3- | fzf -0 +m --preview='git log --color=always {} --' | sed "s#remotes/[^/]*/##" | xargs --no-run-if-empty git checkout
    chc = !git log --pretty=oneline --abbrev-commit --reverse | fzf -0 +m --preview='git show --color=always {1}' | cut -c -8 | xargs --no-run-if-empty git checkout
    ignore = !git gitignore-list | fzf --multi | paste -s -d, - | xargs --no-run-if-empty -I{} curl -L -s "https://www.gitignore.io/api/{}" | sed -n "/^###/,\\$p" > .gitignore
