#!/bin/bash
# Configure external repositories
set -Eeuo pipefail

config_local() {
    local dest="${1}"
{{- if not ( contains "home" .chezmoi.hostname ) }}
    echo "Configuring local user in ${dest}"
    (
        cd "${dest}"
        git config --local user.name "{{ .home.name }}"
        git config --local user.email "{{ .home.email }}"
    )
{{- end }}
}

clone_repo() {
    local repo="${1}"
    local dest="${2}"
    if [ -e "${dest}" ] ; then
        return 1
    fi
    echo "Cloning ${repo} in ${dest}"
    git clone "${repo}" "${dest}" && config_local "${dest}"
}

config_local "{{ .chezmoi.sourceDir }}"

declare -A REPOS
REPOS["git@github.com:remigourdon/scripts.git"]="${HOME}/.scripts"
REPOS["git@github.com:remigourdon/snippets.git"]="${HOME}/.snippets"

for repo in "${!REPOS[@]}" ; do
    clone_repo "${repo}" "${REPOS[${repo}]}" || true
done
